*{
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    margin: 1rem;
    max-height: fit-content;
}
form{
    display: flex;
    background-color: ghostwhite;
}
.oneColumn{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0;
}
label{
    margin: 0;
    font-size: 20px;
}
input[type=text],[type=email], select, textarea{
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 110%;
}
input[type=date]{
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 110%;
    height: min-content;
    max-height: 100%;
}
.fill{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.txtarea{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
.txtarea div:nth-child(2){
    justify-self: end;
    margin: 0;
    
}
input[type=submit]{
    background-color:grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: 1s ease;
    margin: 0;
}
input[type=submit]:hover{
    font-size: 120%;
}

@media(max-width: 768px){
    input[type=text],[type=email], select, textarea{
        width: 100%;
    }
    form{
        margin: 1rem;
    }
}